<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <target xsi:type="Console" name="console">
            <layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="2" excludeProperties="EventId">
                <attribute name="@t" layout="${date:universalTime=true:format=o}" />
                <attribute name="@l" layout="${level}" />
                <attribute name="@mt" layout="${message:raw=true}" />
                <attribute name="@x" encode="false">
                    <layout xsi:type="JsonLayout">
                        <attribute name="type" layout="${exception:format=type}" />
                        <attribute name="message" layout="${exception:format=message}" />
                        <attribute name="stacktrace" layout="${exception:format=tostring}" />
                    </layout>
                </attribute>
                <attribute name="@i" layout="${event-properties:EventID:whenEmpty=0}" />
                <attribute name="@r" layout="${aspnet-TraceIdentifier:ignoreActivityId=true}" />
                <attribute name="@c" layout="${logger}" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="Klinkby.*" minlevel="Info" writeTo="console"  />
        <logger name="Microsoft.AspNetCore.DataProtection" minlevel="Fatal" writeTo="console" />
        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Info" writeTo="console">
            <filters defaultAction="Log">
                <when condition="contains('${aspnet-Request-Url}','/health')" action="Ignore" />
            </filters>
        </logger>
        <logger name="*" minlevel="Warn" writeTo="console" />
    </rules>
</nlog>
