<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets>
        <target xsi:type="Console" name="console">
            <layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="2">
                <attribute name="@t" layout="${date:universalTime=true:format=o}" />
                <attribute name="@l" layout="${level}" />
                <attribute name="@mt" layout="${message:raw=true}" />
                <attribute name="@x" encode="false">
                    <layout xsi:type="JsonLayout">
                        <attribute name="type" layout="${exception:format=type}" />
                        <attribute name="message" layout="${exception:format=message}" />
                        <attribute name="stacktrace" layout="${exception:format=tostring}" />
                    </layout>
                </attribute>
                <attribute name="@i" layout="${eventId}" />
                <attribute name="traceId" layout="${aspnet-TraceIdentifier:ignoreActivityId=true}" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="Klinkby.*" minlevel="Info" maxlevel="Error" writeTo="console"  />
        <logger name="*" minlevel="Warn" writeTo="console" />
    </rules>
</nlog>
