networks:
  booqr-network:
    driver: bridge

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    image: klinkby/booqr:latest
    ports:
      - "8443:8443"
    read_only: true
    volumes:
      - ./certs:/app/certs:ro
      - ./w3clog:/home/app/w3clog
      - ./dpkeys:/home/app/.aspnet/DataProtection-Keys
    tmpfs:
      - /tmp
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/app/certs/booqr.pfx
      - Infrastructure__ConnectionString=Host=postgres;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};
    networks:
      - booqr-network
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
#      test: ["CMD", "wget", "https://localhost:8443/api/health", "-q", "-O", "-"]
#      interval: 10s
#      timeout: 5s
#      start_interval: 5s
#      retries: 5
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.5'
        reservations:
          memory: 64M
          cpus: '0.25'

  postgres:
    image: postgres:14-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=scram-sha-256
    read_only: true
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./ddl/initdb.sql:/docker-entrypoint-initdb.d/DDL.sql
    tmpfs:
      - /tmp
      - /var/run/postgresql
    networks:
      - booqr-network
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      start_interval: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.5'
        reservations:
          memory: 64M
          cpus: '0.25'

volumes:
  postgres_data:
    driver: local


