services:

  api1:
    build:
      context: ..
      dockerfile: Dockerfile
    env_file:
      - ../.env
    image: klinkby/booqr:latest
    networks:
      - service-net
    read_only: true
    volumes:
      - postgres_socket:/var/run/postgresql
    tmpfs:
      - /tmp
      - /home/app/.aspnet/DataProtection-Keys
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Infrastructure__ConnectionString=Host=/var/run/postgresql;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};
    restart: unless-stopped
    stop_grace_period: 5s
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://127.0.0.1:8080/api/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: '1.5'
        reservations:
          memory: 32M
          cpus: '0.25'

  postgres:
    image: postgres:18-alpine3.22
    environment:
      - INSTANCE_UNIX_SOCKET=/var/run/postgresql
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST_AUTH_METHOD=scram-sha-256
    read_only: true
    volumes:
      - /mnt/postgres-hel1-1/booqr:/var/lib/postgresql/18/docker
      - ./initdb.sql:/docker-entrypoint-initdb.d/DDL.sql:ro
      - postgres_socket:/var/run/postgresql
    tmpfs:
      - /tmp
    networks:
      - database-net
    restart: unless-stopped
    stop_grace_period: 30s
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.5'
        reservations:
          memory: 64M
          cpus: '0.25'

  proxy:
    ports:
      - '80:8080/tcp'
      - '443:8443/tcp'
    image: haproxy:3.2-alpine3.22
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - /root/certs.pem:/etc/ssl/certs/certs.pem:ro
    env_file:
      - ./gateway.env
    tmpfs:
      - /tmp
    restart: unless-stopped
    read_only: true
    security_opt:
      - no-new-privileges:true
    stop_grace_period: 5s
    networks:
      - service-net
      - dmz-net
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '1.0'
        reservations:
          memory: 64M
          cpus: '0.25'
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://127.0.0.1:8080/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_socket:
    driver: local

networks:
  database-net:
    internal: true
  service-net:
  dmz-net:
